body{
    margin-left: 20px;
}

.chat{
    background-color: rgb(121, 195, 227);
    border-radius: 16px;
    padding: 20px;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}